/* elements */

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #1F282A;
}

h1 {
    font-size: 4em;
}

h2 {
    text-transform: uppercase;
}

/* classes: intro/score*/
.intro-screen, .score-screen {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.intro-msg, .score-msg {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.mini-title {
    font-size: 1em;
    font-weight: 600;

}
.round-question {
    font-size: 2.5em;
    padding: 1em 0
}

.start-btn {
    background: white;
    padding: 1em;
}

.score-msg {
    font-size: 1.5em;
}

/* classes: top bar*/
.top-bar {
    background-color: #1F282A;
    height: 8vh;
    width: 100%;
    position: relative;
}

.screen-title, .score {
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.score {
    right: 3em;
}

.screen-title {
    left: 3em;
}


/* classes: responses*/
.question {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 3em;
    transform: translate(-50%, -50%)
}


.response-opts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 92vh;
    overflow: hidden;
}

.button-opt {
    position: relative;
    width:100%;
    height:100%;
}

.text-info{
    width: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.response-name {
    color: #1F282A;
    background: white;
    font-size: 1.5em;
    padding: 1em 2em;
    z-index: 100;
    text-transform: uppercase;
}

.answer-fdb {
    background:rgba(210,210,210,0.9);
    display: grid;
    grid-template-columns: 4em 2em;
    place-content: center;
}

.degrees {
    align-self: center;
    justify-self: center;
    padding-left: 0.5em;
}


/* general formatting classes */
.bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.wrong {
    background-color:#C43924;
}

.correct {
    background-color:#8CD455;
}

.disabled {
    pointer-events: none;
}

.inline-block {
    display: inline-block;
}


/* img & svg classes */

.svg-line-bar {
    width: 4em;
    height: 1em;
    margin: 0 1em;
}

.icon {
    width: 3em;
    height: 3em;
}